extends layout

block content
  .row
    .col-sm-12
      h3 Редактирование баннера
      form(method='post')
        .form-group
          label Название кампании
          input.form-control(readonly, value=campaign.name)
        .form-group
          label Название баннера
          input.form-control(type='text', name='name', value=banner.name||'', required=true)
        if banner._id
          .form-group
            label Статус
            select.form-control(name='active')
              option(selected=banner.active, value=1) Вкл
              option(selected=!banner.active, value=0) Выкл
        button.btn.btn-success(type='submit') Сохранить
        |&nbsp;&nbsp;
        a.btn.btn-secondary(href=baseUrl) Отменить
